# Wompi Sandbox credentials
WOMPI_PRIVATE_KEY=prv_stagtest_...
WOMPI_INTEGRITY_SECRET=stagtest_integrity_...
WOMPI_BASE_URL=https://api-sandbox.co.uat.wompi.dev/v1

# DynamoDB (AWS)
DYNAMODB_REGION=us-east-2
DYNAMO_PRODUCTS_TABLE=wompi-products
DYNAMO_PAYMENTS_TABLE=wompi-payments
